/* width - utility
--------------------------------------------------------- */

.u-w-auto {
    width: auto!important;
}

.u-maw-full {
    max-width: 100% !important;
}

.u-maw-half {
    max-width: 50% !important;
}